/*Reset y base*/
/*box-sizing: para que tenga en cuenta el padding y el margin en el tamaño total*/
*{
    box-sizing: border-box;
}

/* Establecemos altura completa de página*/
html, body{
    height: 100%;
}

/* El body se convierte en contenedor flex
    -Flex direction column --> apila verticalmente el header, main y footer
    - min height 100vh -> ocupa toda la altura de la ventana (vh = visual )  */


/* Configuración general del body */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Centramos y rellenamos la cabecera*/
/* CABECERA con FLEX: dos zonas -> logi/titulo (marca) y menu (nav) */
.cabecera {
    text-align: center;
    padding: 1rem;
    color: #fff;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between; /* Posiciona marca izq. y nav derecha */ 
    align-items: center;            /* Centra verticalmente */
}

/* Tamaño de la imagen (logo) */
.logo{
    height:  100px;
    width: auto;
}

/* Titulo de la cabecera sin margenes extra y color destacado */
/* .titulo{
    margin: 0;
    color: #2C3E50;
} */


/* Menú de navegación */

.menu{ 
    list-style-type: none;
    display: flex;          /* Para colocar los enlaces/items en linea */
    flex-direction: row;    /* Por defecto es row, por tanto podemos prescindir de esta linea */
    gap: 1.5rem;
    margin: 0;
    padding: 0;

}

.menu a{
    color: #fff;
    text-decoration: none;  /* Elimina el subrayado */
    font-weight: bold;      /* Aplica negrita a los enlaces */
}

.menu a:hover{
    color: #E74C3C;
    /* background-color: #fff; */
}

/*  Zona principal (main) aplicando relleno */

#contenido-principal{

    padding: 1rem;
    flex-grow: 1;               /* Importante para "empujar" el footer hacia abajo */
    /* flex: 1;*/               /* Atajo de las propiedades flex-grow y flex-basis*/

    display: flex;              /* Convierto al main como convertido flexible para acomodar las tarjetas */
    flex-direction: column;
    gap: 1rem;
}


/* Clase "tarjeta": usado para agrupar secciones visualmente*/

.tarjeta{
    background-color: #fff;
    width: min(900px, 95%);
    margin: 1.5rem auto;   /* Centramos el contenido */
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid #ddd;
    transition: transform 0.3s;

}

.tarjeta:hover{
    transform: scale(1.05);
}

/*
Listas en dos columnas: usamos flexbox para alinear dos elementos en horizontal
*/
.listas {
    display: flex;          /* Contenedor flexible */
    flex-direction: row;    /* Los items se coloquen en filas */
    gap: 2rem;              /* Hueco entre columnas */
    flex-wrap: wrap;        /* Permite saltar a la siguiente linea en pantallas pequeñas */
}

/*Ajustes visuales de las listas*/
.lista{
    padding-left: 20px;     /* Espacio para las viñetas */

}

.lista li{
    margin: 0.25rem 0;      /* Espacio vertical entre los elementos de las listas */
}


.tabla{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Bordes y rellenos de la página */
.tabla th, .tabla td{
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabecera de la tabla con estilo diferenciado */

.tabla th{
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
}

/* Contenido de tabla alineado a la izquierda */
.tabla td{
    text-align: left;
    white-space: nowrap;  /* Evita saltos de lineas en la página web */
}


.pie{
    color: #577072;
    font-size: 14px;
    background-color: #ecf0f1;
    text-align: center;
    padding: 1rem;
}