/*Reset y base*/
/*box-sizing: para que tenga en cuenta el padding y el margin en el tamaño total*/
*{
    box-sizing: border-box;
}

/* Establecemos altura completa de página*/
html, body{
    height: 100%;
}

/* El body se convierte en contenedor flex
    -Flex direction column --> apila verticalmente el header, main y footer
    - min height 100vh -> ocupa toda la altura de la ventana (vh = visual )  */


/* Configuración general del body */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Centramos y rellenamos la cabecera*/
/* CABECERA con FLEX: dos zonas -> logi/titulo (marca) y menu (nav) */
.cabecera {
    text-align: center;
    padding: 1rem;
    color: #fff;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between; /* Posiciona marca izq. y nav derecha */ 
    align-items: center;            /* Centra verticalmente */
}

/* Tamaño de la imagen (logo) */
.logo{
    height:  100px;
    width: auto;
}

/* Titulo de la cabecera sin margenes extra y color destacado */
/* .titulo{
    margin: 0;
    color: #2C3E50;
} */


/* Menú de navegación */

.menu{ 
    list-style-type: none;
    display: flex;          /* Para colocar los enlaces/items en linea */
    flex-direction: row;    /* Por defecto es row, por tanto podemos prescindir de esta linea */
    gap: 1.5rem;
    margin: 0;
    padding: 0;

}

.menu a{
    color: #fff;
    text-decoration: none;  /* Elimina el subrayado */
    font-weight: bold;      /* Aplica negrita a los enlaces */
}

.menu a:hover{
    color: #E74C3C;
    /* background-color: #fff; */
}

/*  Zona principal (main) aplicando relleno */

#contenido-principal{

    padding: 1rem;
    flex-grow: 1;               /* Importante para "empujar" el footer hacia abajo */
    /* flex: 1;*/               /* Atajo de las propiedades flex-grow y flex-basis*/

    display: flex;              /* Convierto al main como convertido flexible para acomodar las tarjetas */
    flex-direction: column;
    gap: 1rem;
}


/* Clase "tarjeta": usado para agrupar secciones visualmente*/

.tarjeta{
    background-color: #fff;
    width: min(900px, 95%);
    margin: 1.5rem auto;   /* Centramos el contenido */
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid #ddd;
    transition: transform 0.3s;

}

.tarjeta:hover{
    transform: scale(1.05);
}

/*
Listas en dos columnas: usamos flexbox para alinear dos elementos en horizontal
*/
.listas {
    display: flex;          /* Contenedor flexible */
    flex-direction: row;    /* Los items se coloquen en filas */
    gap: 2rem;              /* Hueco entre columnas */
    flex-wrap: wrap;        /* Permite saltar a la siguiente linea en pantallas pequeñas */
}

/*Ajustes visuales de las listas*/
.lista{
    padding-left: 20px;     /* Espacio para las viñetas */

}

.lista li{
    margin: 0.25rem 0;      /* Espacio vertical entre los elementos de las listas */
}


.tabla{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Bordes y rellenos de la página */
.tabla th, .tabla td{
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabecera de la tabla con estilo diferenciado */

.tabla th{
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
}

/* Contenido de tabla alineado a la izquierda */
.tabla td{
    text-align: left;
    white-space: nowrap;  /* Evita saltos de lineas en la página web */
}


.pie{
    color: #577072;
    font-size: 14px;
    background-color: #ecf0f1;
    text-align: center;
    padding: 1rem;
}

/* FORMULARIOS */

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
}


button:hover{
        transition: transform 0.3s;

}

input{

    margin-bottom: 10px;
}


/* ----------- FORMULARIO DE REGISTRO ----------- */

.form-registro{

    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    width: 380px;
    padding: 1rem;
    display: flex;          /* Los fieldset se colocan de manera flexible */
    flex-direction: column; /* Los fieldset se colocan uno debajo de otro */
    gap: 10px;
    color: firebrick;      /* Se aplica el color rojo de que haya dentro de flex */
    margin: 0px auto;

}

.form-filas{

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;

}

.form-filas label{
    font-weight: bold;
}

/* Selector button por atributo*/
button[type="submit"] {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer; /* Aparece una mano apuntadora al hacer hover */

    
}

 /* Selector button por atributo + pseudoclase hover  */
button[type="submit"]:hover{
   background-color: darkred;
}




/* 
    ======================
        SECCION TIENDA
    ======================
*/

/* Aplicar estos estilos solo a los elementos que tengan las clases tienda y tarjeta a la vez */

.tienda .tarjeta{
    width: min(1600px, 95%);
}

.lista-cards--flex{
    display: flex;                  /* Activo el modelo Flex */
    /* flex-direction: row; */      /* Es el valor por defecto igualmente */
    flex-wrap: wrap;                /*  */
    gap: 16px;                      /* Espacio uniforme entre las cards */
    justify-content: center;        /* Centrar horizontalmente */

}

/* Card individual */
.card {
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

/* Imagen de la card */
.card-imagen{
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Explicación object-fit: conain asegura que la imagen se vea completa
    aunque tenga proporciones diferentes, evitando recortes o deformaciones
*/

/* Textos */

.card-titulo{
    font-size: 1.1rem;
    color: #333;
    margin: 8px 0 4px;
}

.card-descripcion{
    font-size: 0.9rem;
    color: #666;
    min-height: 3.5em;        /* Mantiene altura uniforme aunque cambie el texto */
}

.card-precio{
    color: #b60000;
    font-weight: bold;
    margin: 8px 0;
}

/* Botón de la card */
.card-boton{
    background-color: #2C3E50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;  
        
}
/*
    Se comporta como inline (se coloca en línea) pero permite aplicar propiedades de bloque (ancho, alto, margin, padding)
    Si no lo hubieramos puesto, no saltaría de línea, no puedes definir width, height, ni margin-top/bottom

*/

.grid-container{
    min-height: 400px;
    display: grid;          /* Activa el modo grid */

    background-color: #eaeaea;

    /* Definir numero de columnas */
    grid-template-columns: 75px 125px 100px;       /* 3 columnas de tamaño fijo */
    /* Definir número de filas */
    grid-template-rows: 100px 100px;                /* 2 filas de tamaño fijo */
    
    /* Añadir espacio entre celdas y filas */
    row-gap: 5px;
    column-gap: 30px;

    /* Atajo gap: row-gap + column-gap */
    /* gap: 5px 30px;*/
    
    
    /* Alineación de los items respecto de su celda */
    /* justify-items: center;
    align-items: end; */
    place-items: stretch;          /* Atajo place-items = align-items + justify-items */

    
    justify-content: center;                        /* Centra toda la cuadricula dentro del section */
    align-content: center;

    padding: 10px;



}

.item-grid{background-color: aquamarine;}

.item-5{
    background-color: green;
    justify-self: center;
    align-self: center;
}

/* .grid-container :nth-child(1) {background-color: #E74C3C;}
.grid-container :nth-child(2) {background-color: indigo;}
.grid-container :nth-child(3) {background-color: gold;}
.grid-container :nth-child(4) {background-color: aquamarine;}
.grid-container :nth-child(5) {background-color: green;}
.grid-container :nth-child(6) {background-color: darkred;} */

.contenedor-areas{
    display: grid;

    min-height: 400px;
    /* Fijamos número de columnas y filas */
    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;

    /* Plantilla de áreas - Disposición del grid */
    grid-template-areas:
             "cabecera  cabecera    cabecera" 
             "menu      principal   lateral" 
             "pie       pie         pie";
    
    gap: 15px;



}

.area-header{
    /* Asignamos nombre de área para el grid */
    grid-area: cabecera;
    background-color: blue;
}

.area-menu{
    /* Asignamos nombre de área para el grid */
    grid-area: menu;
    background-color: green;
    color: white;
}

.area-main{
    /* Asignamos nombre de área para el grid */
    grid-area: principal;
    background-color: goldenrod;
}

.area-aside{
    /* Asignamos nombre de área para el grid */
    grid-area: lateral;
    background-color: aquamarine;
}

.area-footer{
    /* Asignamos nombre de área para el grid */
    grid-area: pie;
    background-color: red;
}