body{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #F5A623;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
}

header h1{
    margin: 0;
}

main{
    background-color: beige;
    padding: 2rem;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.receta{
    background-color: white;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

.imagen-receta img{
    margin: 0 auto 20px auto ;
    max-width: 100%;
    border-radius: 10px;
    
}

.carasteristicas ul{
    list-style-type: square;
    padding-left: 20px;
    text-align: left;
}

.carasteristicas ul li{
    padding-bottom: 10px;
}

.elaboracion p{

    line-height: 1.6;
    text-align: justify;
}

.ingredientes{
    margin-top: 0.5rem;
}

.ingredientes table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.ingredientes table thead{

    background-color: #F5A623;
    color: white;
    padding: 0.75rem 1rem;
    font-weight: bold;
    text-align: center;
    
}



.ingredientes table tbody{

    padding: 0.65rem 1rem;
    text-align: center;

}
.ingredientes table tbody td{

    border-bottom: 1px solid #eee;

}

tbody:last-child{
    border-bottom: solid transparent;

}

tr:nth-child(even) {
  background-color: #fafafa;
}


.receta h1{
    color: #F5A623;
    text-align: center;
}

.receta h2{
    color: #F5A623;
}

.receta h3{
    text-align: left;
}

