body {
    height: 100%;
    margin: 0px;
    
    display: flex;
    flex-direction: column;
}

.cabecera {
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
}

.cabecera img{
    width: 300px;
    height: 100px;
}

main{
    padding: 2rem;
}





footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    
}