
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

main{
    padding: 0 2rem 2rem 2rem;
    flex-grow: 1;
}

header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.cabecera-imagen{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.cabecera-imagen img{
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

.contenedor-principal h1{
    text-align: center;
}




    
.contenedor-tarjetas-productos{

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 10px;
    
    
    
}





.tarjeta{
    border: 2px solid #CCC;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    align-content: center;
    background-color: #F9F9F9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}

.tarjeta:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


.tarjeta img{
    width: 75%;
    border-radius: 10px;
}

.tarjeta h2{
    color: #333;
}

.descripcionproducto{
    color: #777;
}

.precio{
    font-size: 1.25rem;
    color: #E74C3C;
}


